<%= form_for(person_punishment) do |f| %>
  <% if person_punishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_punishment.errors.count, "error") %> prohibited this person_punishment from being saved:</h2>

      <ul>
      <% person_punishment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :person_id %>
    <%= collection_select(:field, :person_id, Person.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :punishment %>
    <%= collection_select(:field, :punishment_id, Punishment.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
